---
title: Projects I made
# Empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>
<body>
    {% include header.html %}
    <div class = "container">
    <div class ="blurb">
        <h1> Projects I made </h1>
        <p> This is still in construction atm. In the meantime check out my <a href="https://www.github.com/hongjoonchew">github repo. </a></p>
        <p> Here is a short list of some of the projects I made in case you wanna see their repos.
        <ul class="list">
        <li><a href="https://github.com/hongjoonchew/EventSJSU">An iOS App a group and I made for a class using Swift.
            (Swift, Amazon Web Services (DynamoDB and Cognito), Apple MapKit, Apple UIKit, Facebook OAuth)</a>
        </li>
        <li><a href="https://github.com/hongjoonchew/CS-157A-PayMe">A web application I made with two other students
        for a class using Spring Boot and MySQL. (Java, SQL, Spring Boot, Heroku, MySQL)</a>
        <ul>
            <li><a href="http://payme157a.herokuapp.com/"> It's deployed here!</a></li>
        </ul></li>
        <li><a href="https://github.com/hongjoonchew/ClassReviewProto">A web application made with a group using Ruby on Rails.</a></li>
        <li></li>
        </ul>
        </p>
    </div>
    </div>
    {% include footer.html %}
</body>
</html>