---
# empty front matter. defaults in _config.yml
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hong Joon Chew</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>
<body>
    {% include header.html %}
    <div class = "container">
    <div class = "blurb">
    <h1> Hong Joon Chew</h1>
    <p> I ask people to call me Joon. <br>
        I'm graduating in December 2018 with a BS in Software Engineering.</p>
        <p>Pursuing interests in development things such as full-stack or back-end development, and also machine learning on the side (it's my senior project!)</p>
        <p> <a href="/resume/Resume%20-%20hongjoonchew.pdf">Resume</a></p>
    </div></div>
    {% include footer.html %}
</body>
</html>
